<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments/header :: header}"></head>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script th:src="@{/js/showContent.js}"></script>
<script th:src="@{/js/checkComment.js}"></script>
<body>
<div th:replace="~{mobile/fragments/bodyHeader :: bodyHeader}"></div>
<div th:replace="~{mobile/fragments/bodyHeader :: side-bar}"></div>

<div class="view">
  <input type="hidden" id="boardNo" th:value="${board.no}" />
  <!--  <input type="hidden" id="writerValue" th:value="${board.get().id}" />-->
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td>제목</td>
      <td colspan="5"><div th:text="${board.title}" name="id"/></td>
    </tr>
    <tr>
      <td>작성자</td>
      <td><div th:text="${board.id}" name="id"/></td>
      <td>게시글 번호</td>
      <td><div name="no" th:text="${board.no}"/></td>
      <td>작성 시간</td>
      <td>
        <div name="date" th:text="${board.date} +' '+ ${board.time}"/>
      </td>
    </tr>
    <tr>
      <td colspan="6" class="boardContent"><div name="content" th:text="${board.content}"></div></td>
    </tr>
    </tbody>
  </table>
  <div th:if="${session.log == board.id}">
    <button onclick="deleteBoardPc(document.getElementById('boardNo').value)" class="btn btn-danger">삭제</button>
    <button onclick="updateBoardPc(document.getElementById('boardNo').value)" class="btn btn-primary">수정</button>
  </div>


  <h5 >댓글(<span th:text="${#lists.size(comments)}"></span>)</h5>


  <table class="table table-bordered">
    <th:block th:each="comments, iterStat : ${comments}">
      <tr>

        <form th:action="@{/mobile/comments/addSecondComment}" method="post" >

          <div th:if="${comments.depth!=1}">
            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
            </svg></td>
          </div>

          <td th:text="${comments.id}" class="border-top"></td>
          <td th:text="${comments.content}" class="border-top"></td>
          <td th:text="${comments.date}" class="border-top"></td>
          <td th:text="${comments.time}" class="border-top"></td>
          <input type="hidden" name="no" th:value="${comments.no}">
          <input type="hidden" name="id" th:value="${session.log}">

          <div th:if="${session.log!=null && comments.depth==1}">
            <td><input type="submit" value="답글 작성" class="btn btn-primary"></td>
          </div>
        </form>

        <div th:if="${session.log==comments.id}">
          <form th:action="@{/mobile/comments/deleteComment}" method="post">
            <input type="hidden" name="no" th:value="${comments.no}">
            <td><input type="submit" value="삭제" class="btn btn-danger"></td>
          </form>
          <form th:action="@{/mobile/comments/updateComment}" method="post">
            <input type="hidden" name="no" th:value="${comments.no}">
            <td><input type="submit" value="수정" class="btn btn-primary"></td>
          </form>
        </div>
      </tr>

    </th:block>
  </table>

  <!-- 로그인하지 않은 경우 -->
  <div th:if="${session.log == null}">
    <p>댓글을 작성하려면 로그인이 필요합니다.</p>
    <a href="/mobile/member/login">로그인</a>
  </div>
  <div th:if="${session.log !=null}">
    <form th:action="@{/mobile/comments/addComment}" method="post" onsubmit="return validateFormComment()">
      <input type="text" name="comment" id="comment">
      <input type="hidden" name="no" th:value="${board.no}">
      <input type="hidden" name="loginId" th:value="${session.log}">
      <input type="submit" value="댓글 달기" class="btn btn-primary">
    </form>
  </div>

</div>
<div th:replace="~{mobile/fragments/footer :: footer}"></div>
</body>
</html>