<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments/header :: header}"></head>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script th:src="@{/js/showContent.js}"></script>

<body>
<div th:replace="~{mobile/fragments/bodyHeader :: bodyHeader}"></div>
<div th:replace="~{mobile/fragments/bodyHeader :: side-bar}"></div>

<div class="view">

  <input type="hidden" id="boardNo" th:value="${board.get().no}" />
  <form th:action="@{/mobile/board/updateBoardPro}" method="post" >
    <input type="hidden" name="img" value=null>
  <table>
    <tbody>
    <tr>
      <td>작성자</td>
      <td><input type="text" name="id" th:value="${board.get().id}" readonly></td>
    </tr>
    <tr>
      <td>게시글 번호</td>
      <td><input type="text" name="no" th:value="${board.get().no}" readonly></td>
    </tr>
    <tr>
      <td>제목</td>
      <td><input type="text" name="title" th:value="${board.get().title}" ></td>
    </tr>
    <tr>
      <td>내용</td>
      <td><textarea name="content"  th:text="${board.get().content}"></textarea></td>
    </tr>
    </tbody>
  </table>
    <input type="submit" value="수정하기">
  </form>

  <div th:replace="~{mobile/fragments/footer :: footer}"></div>
</div>

</body>
</html>