<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments/header :: header}"/>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script th:src="@{/js/checkComment.js}"></script>

<body>
<div th:replace="~{mobile/fragments/bodyHeader :: bodyHeader}"/>
<div th:replace="~{mobile/fragments/bodyHeader :: side-bar}"/>

<div class="view">
    <form th:action="@{/mobile/comments/updateCommentPro}" method="post" onsubmit="return validateFormComment()">
        <input type="text" name="content" id="comment" th:value="${comment.content}">

        <input type="hidden" name="commentNo" th:value="${comment.no}">
        <input type="submit" value="수정하기" class="btn btn-primary">
    </form>



    <div th:replace="~{mobile/fragments/footer :: footer}" />
</div>

</body>
</html>