<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{pc/fragments/header :: header}" />
<body>
<div th:replace="~{pc/fragments/bodyHeader :: bodyHeader}"/>
<div class="view">
    <h1>시작</h1>
    <a href="/member/new">가입</a>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>피씨</h1>
    <h1>끝</h1>
    <div th:replace="~{pc/fragments/footer :: footer}" />
</div>
</body>
</html>
