<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments/header :: header}"></head>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/locationSearchMobile.js}"></script>
<style>
  .campBoxBottom {
    height: 50px;
    width: 100%;
    display: flex;
  }
</style>
<body>
<div th:replace="~{mobile/fragments/bodyHeader :: bodyHeader}"></div>
<div th:replace="~{mobile/fragments/bodyHeader :: side-bar}"></div>

<div class="view">
  <h1>지역별검색</h1>
  <select id="sido_code">
    <option>전체</option>
  </select>
  <select id="sigoon_code">
    <option>전체</option>
  </select>
  <button class="btn btn-outline-success" type="button" id="search-icon" onclick="search()">검색</button>
  <div id="resultSize"></div>
  <div id="campList"></div>
  <div id="paging"></div>
  <div id="pagingInsert" class="d-flex justify-content-center align-items-center mt-3">

  </div>
  <div th:replace="~{mobile/fragments/footer :: footer}"></div>
</div>

</body>
<script th:inline="javascript">
  let log = [[${session.log}]];
</script>
</html>