<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="logo" onclick="location.href='/main'"> <img src="/img/어서와영.png"></div>
    <div class="icon open-sidebar-btn" onclick="viewSideBar()"><i class="fa-solid fa-bars"></i></div>
</div>
<div class="side-bar" th:fragment="side-bar">
    <img src="/img/어서와영side.png">
    <div>
        <h3 th:if="${session.log != null}" th:text="${session.log}+'님, 환영합니다'"></h3>
    </div>
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="/search/address">
                <i class="fa-solid fa-magnifying-glass"></i>
                지역명 검색
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/search/map">
                <i class="fa-solid fa-map-location"></i>
                지도로 검색
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-list"></i>
                카테고리 검색
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${session.log != null} ? '/member/mine' : 'member/login'">
                <i class="fa-solid fa-heart" style="color:red"></i>
                찜
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${session.log != null} ? '/member/myPage' : 'member/login'">
                <i class="fa-solid fa-user"></i>
                마이페이지
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${session.log == null} ? '/member/login' : '/member/logout'">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span th:text="${session.log == null} ? '로그인' : '로그아웃'"></span>
            </a>
        </li>

    </ul>
    

</div>
