<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="logo"> <img src="/img/임시로고.png"></div>
    <div class="icon open-sidebar-btn" onclick="viewSideBar()"><i class="fa-solid fa-bars"></i></div>
</div>
<div class="side-bar" th:fragment="side-bar">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
                지역명 검색
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/search/mapIntro">
                <i class="fa-solid fa-map-location"></i>
                지도로 검색
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-list"></i>
                카테고리 검색
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-heart" style="color:red"></i>
                찜
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-user"></i>
                마이페이지
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/member/new">
                <i class="fa-solid fa-right-to-bracket"></i>
                로그인
            </a>
        </li>
    </ul>
    <div>캐릭터 자리</div>
</div>
