<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/header :: header}"/>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<body>
<div th:replace="~{admin/fragments/bodyHeader :: bodyHeader}"/>
<div class="container">
    <div class="content-header">
        <h3> 공지사항 작성 </h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <form role="form" id="noticeForm" action="/admin/notice/new" th:object="${noticeForm}" method="post">
                    <tr scope="row">
                        <td>제목</td>
                        <td><input type="text" id="subject" th:field="*{subject}"/></td>
                    </tr>
                    <tr scope="row">
                        <td>내용</td>
                        <td><textarea id="context" th:field="*{context}"></textarea></td>
                    </tr>
                    <tr>
                        <td><input type = "submit" class="btn btn-info" value="등록"/></td>
                        <td><input type="button" class="btn btn-info" value="취소" onclick="location.href='/noticeList?type=admin'"/>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>
</body>
</html>