<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<head th:replace="mobile/fragments/header :: header"/>
<body>
<div th:replace="mobile/fragments/bodyHeader :: bodyHeader"/>
<div th:replace="mobile/fragments/bodyHeader :: side-bar"/>
<div class="view">
    <div class="contentName">
        <h1>로그인</h1>
        <hr>
    </div>
    <div class="form-group">
        <label th:for="loginId">아이디</label>
        <input type="text" id="loginId" class="form-control">

    </div>
    <div class="form-group">
        <label th:for="pw">비밀번호</label>
        <input type="password" id="pw" class="form-control">

    </div>
    <div class="form-group">
        <input type="button" id="loginBtn" class="btn btn-primary" onclick="chkLogin()" value="로그인"/>
    </div>
    </form>
    <div class="">
        <a href="/mobile/member/find?type=pw">비밀번호 찾기</a>
        <a href="/mobile/member/find?type=id">아이디 찾기</a>
        <a href="/mobile/member/new">회원가입</a>
    </div>
</div>
<div th:replace="mobile/fragments/footer :: footer"/>
</body>
<script>

    function chkLogin() {
        $.ajax({
            url: "/mobile/login",
            type: "get",
            data: {
                loginId: $("#loginId").val(),
                pw: $("#pw").val()
            },

            success: function (result) {
                if (result === "true") {
                    swal("로그인 성공", "", "success").then(function () {
                        location.href = '/mobile/main';
                    })
                } else {
                    swal("로그인 실패", "회원 정보를 확인해주세요.", "error");
                }
            },
            error: function (error) {
            }
        });
    }

</script>
</html>