<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/memberMyPage.js"></script>
<head th:replace="pc/fragments/header :: header"/>
<body>
<div th:replace="pc/fragments/bodyHeader :: bodyHeader"/>
<div th:replace="pc/fragments/bodyHeader :: side-bar"/>
<div class="view">
    <div class="contentName">
        <h1>마이 페이지</h1>
        <hr>
    </div>
    <div class="form-group">
        <label for="loginId">아이디</label>
        <label id="loginId" th:text="${member.loginId}"></label>
    </div>
    <div class="form-group">
        <label for="name">이름</label>
        <label id="name" th:text="${member.name}"></label>
    </div>
    <div class="form-group">
        <label for="regNum">주민등록번호</label>
        <label id="regNum" th:text="${member.regNum1 + '-' + member.regNum2}"></label>
    </div>
    <div class="form-group">
        <label for="postcode">우편번호</label>
        <label id="postcode" th:text="${member.postcode}"></label>
    </div>
    <div class="form-group">
        <label for="roadAddress">도로명주소</label>
        <label id="roadAddress" th:text="${member.roadAddress}"></label>
    </div>
    <div class="form-group">
        <label for="jibunAddress">지번주소</label>
        <label id="jibunAddress" th:text="${member.jibunAddress}"></label>
    </div>
    <div class="form-group">
        <label for="detailAddress">상세주소</label>
        <label id="detailAddress" th:text="${member.detailAddress}"></label>
    </div>
    <div class="form-group">
        <label for="phone">전화번호</label>
        <label id="phone" th:text="${member.phone}"></label>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <label id="email" th:text="${member.email}"></label>
    </div>
    <div class="form-group">
        <input type="button" id="updateBtn" class="btn btn-primary" value="수정"
               onclick="location.href='/pc/member/update'"/>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">탈퇴</button>
    </div>


</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">회원 탈퇴</h5>
            </div>
            <div class="modal-body">
                <p>회원 탈퇴를 하시겠습니까?</p>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">탈퇴</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="pc/fragments/footer :: footer"/>
</body>
</html>
