<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments/header :: header}" />
<body>
<div th:replace="~{mobile/fragments/bodyHeader :: bodyHeader}"/>
<div th:replace="~{mobile/fragments/bodyHeader :: side-bar}"/>
<div class="view">
    <div th:each="camp, idx : ${campList}">
        <div class="tempCampBox" th:onclick="|details(${camp.contentId})|">
            <div class="campBoxTop">
                <div class="campBoxLeft">
                    <img th:src="${camp.firstImageUrl}"/>
                </div>
                <div class="campBoxRight">
                    <div class="campText">
                        [ <span th:text="${camp.doNm}"></span>
                        <span th:text="${camp.sigunguNm}"></span> ]
                    </div>
                    <div class="campText" th:text="${camp.facltNm}"></div>
                    <div class="campText" th:text="${camp.lineIntro}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{mobile/fragments/footer :: footer}" />
</body>
<script>
    function details(contentId) {
        location.href = "/mobile/detailCamp?contentId=" + contentId;
    }
</script>
</html>
