<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="header" th:fragment="bodyHeader">
    <div class="logo" onclick="location.href='/mobile/main'"><img src="/img/어서와양.png"></div>
    <div class="icon open-sidebar-btn" onclick="mViewSideBar()"><i class="fa-solid fa-bars"></i></div>
</div>
<div class="side-bar" th:fragment="side-bar">
    <nav class="sidebar">
        <ul class="nav flex-column">
            <li>
                <img class="sideImg" src="/img/어서와양_사이드바.png" alt="">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color:red;">
                    <i class="fa-solid fa-comments"></i>
                    게시판(미구현)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/noticeList?type=mobile">
                    <i class="fa-solid fa-bullhorn"></i>
                    공지사항
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${session.log != null} ? '#' : '/mobile/member/login'" onclick="showSubMenu()">
                    <i class="fa-solid fa-flag"></i>
                    고객센터
                </a>
            </li>
            <li class="nav-item" id="sub-menu" style="display: none;">
                <a class="nav-link" href="/sendQnA?type=mobile">문의하기</a>
                <a class="nav-link" href="/sendQnAList?type=mobile">나의 문의사항</a>
            </li>
            <th:block th:if="${session.log == null }">
                <li class="nav-item">
                    <a class="nav-link" href="/mobile/member/new">
                        <i class="fa-solid fa-user-plus"></i>
                        회원가입
                    </a>
                </li>
            </th:block>
            <li class="nav-item">
                <a class="nav-link" th:href="${session.log == null} ? '/mobile/member/login' : '/mobile/member/logout'">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <th:block th:if="${session.log == null }" th:text="로그인"/>
                    <th:block th:if="${session.log != null }" th:text="로그아웃"/>
                </a>
            </li>
        </ul>
        <div>
            <h3 th:if="${session.log != null}" th:text="${session.log}+' 님 접속중'"></h3>
        </div>
    </nav>
</div>