<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="header" th:fragment="bodyHeader">
    <div class="logo">어서와양</div>
    <div class="icon open-sidebar-btn"><i class="fa-solid fa-bars"></i></div>
</div>
<div class="side-bar" th:fragment="side-bar">
    <nav class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    지역명 검색
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-map-location"></i>
                    지도로 검색
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-list"></i>
                    카테고리별 검색
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-heart" style="color:red"></i>
                    찜
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-user"></i>
                    마이페이지
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/member/new">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    로그인
                </a>
            </li>
        </ul>
    </nav>
</div>