<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <div class="nav-menu">
        <ul>
            <li>
                <div onclick="location.href='/mobile/search/location'">
                    <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <div class="footer-label">지역명 검색</div>
                </div>
            </li>
            <li>
                <div onclick="location.href='/mobile/search/map'">
                    <div class="icon"><i class="fa-solid fa-map-location"></i></div>
                    <div class="footer-label">지도로 검색</div>
                </div>
            </li>
            <li>
                <div onclick="location.href='/mobile/search/category'">
                    <div class="icon"><i class="fa-solid fa-list"></i></div>
                    <div class="footer-label">카테고리 검색</div>
                </div>
            </li>
            <li>
                <div onclick="location.href='#'">
                    <div class="icon"><i class="fa-solid fa-heart" style="color:red"></i></div>
                    <div class="footer-label">찜</div>
                </div>
            </li>
            <li>
                <div onclick="location.href='#'">
                    <div class="icon"><i class="fa-solid fa-user"></i></div>
                    <div class="footer-label">마이페이지</div>
                </div>
            </li>
        </ul>
    </div>
</div>
