*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size:65px;
    font-family: 'Dongle', sans-serif;
}
.header{
    position: fixed;
    width: 100%;
    height:200px;
    color:lightgray;
    background-color: white;
    border-radius:0px 0px 10px 10px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    z-index:2;
    -webkit-box-shadow: 0px 2px 27px 2px rgba(0,0,0,0.32);
    box-shadow: 0px 2px 27px 2px rgba(0,0,0,0.32);
}
.footer{
    width:100%;
    height:200px;
    position: fixed;
    bottom: 0;
}
.view{
    padding-top:240px;
    margin-bottom: 270px;
}

.nav-menu{
    height:100%;
}

ul{
    height:100%;
    display: flex;
    flex-direction: row ;
    justify-content:space-between;
    list-style: none;
    background-color:white;
}
.footer li{
    border-radius:20px;
    display:flex;
    background-color:white;
    width:19%;
    height:100%;
    justify-content:center;
    align-items:center;
    border:3px solid black;
    -webkit-box-shadow: 0px 2px 27px 2px rgba(0,0,0,0.32);
    box-shadow: 0px 2px 27px 2px rgba(0,0,0,0.32);
}
.side-bar ul li{
    height : 100px;
    width:100%;
}
.sidebar{
    width:100%
}
.side-bar ul{
    width:100%;
    flex-direction:row;
    justify-content:center;
    background-color:white;
}
.nav-item{
    display:flex;
    justify-content:start;
}
.nav-link{
    font-size:60px;
    font-family: 'Dongle', sans-serif;
}
.icon{
    display: flex;
    justify-content: center;
    font-size: 70px;
}
.footer-label{
    display: flex;
    justify-content: center;
    font-size:50px;
    font-family: 'Dongle', sans-serif;
}
.logo{
    margin-left:40px;
}
.logo img{
    width:55%;
}
.header .icon{
    margin-right:40px;
}
.side-bar{
    display:flex;
    z-index:0;
    background-color:wheat;
    width:50%;
    height:100vh;
    position:fixed;
    right:-40%;
    opacity: 0;
    transition: all 1s ease-in-out;
    box-shadow:0px 0px 50px 5px lightgray;
}
.side-bar.active{
    opacity: 1;
    right:0;
    z-index:3;
}
.blur{
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.sideImg{
    position:absolute;
    top:0%;
}
.view h1{
    font-size:100px;
    text-align:center;
    font-weight:bold;
    font-family: 'Dongle', sans-serif;
    margin-bottom : 0;
}
.form-group label{
    margin-bottom : 0;
    width: 100%;
}
.view .form-group{
    margin-bottom:0;
    margin-left:50px;
    display:flex;
    flex-direction:column;
}
.side-bar a{
    font-size : 60px;
}
.side-bar i{
    font-size : 60px;
}
.contentName{
    height : 100px;
}
.view .form-control{
    width:90%;
    height:150px;
}
.view .btn{
    margin-top:40px;
    width:30%;
    text-align:center;
    padding:0;
}
.swal-title{
    font-size:100px;
    font-family: 'Dongle', sans-serif;
}
.swal-text{
    font-size:60px;
    font-family: 'Dongle', sans-serif;
}
.swal-modal{
    width:90%;
    border-radius:30px;
}
.swal-footer{
    display:flex;
    justify-content:center;
}
.swal-button-container{
    width:40%;
}
.swal-button{
    border-radius:30px;
    width:100%;
    height:100%;
    font-size:60px;
    font-family: 'Dongle', sans-serif;
}
.view .btn-success{
    width:100%;
}
.side-bar div h3{
    position:absolute;
    bottom:10%;
    font-size:80px;
    margin-left:50px;
}