<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{pc/fragments/header :: header}"></head>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/notice.js}"></script>
<style>
    .details:hover {
        cursor: pointer;
    }
</style>

<body>
<div th:replace="~{pc/fragments/bodyHeader :: bodyHeader}"></div>
<div th:replace="~{pc/fragments/bodyHeader :: side-bar}"></div>

<div class="container view">
    <div class="content-header">
        <h3> 공지사항 목록 </h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">작성일</th>
                </tr>
                </thead>
                <tbody th:if="${noticeList != null}">
                <tr th:if="${noticeList == null}"><td colspan="3"><h3>등록된 공지사항이 없습니다</h3></td></tr>
                <tr th:each="notice : ${noticeList}" >
                    <td th:text="${notice.subject}" th:id="${notice.id}" class="details"></td>
                    <td th:text="${notice.date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">상세 정보</h5>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td id="context"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{pc/fragments/footer :: footer}"/>
</body>
</html>