<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments/header :: header}"></head>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/qna.js}"></script>
<body>
<div th:replace="~{mobile/fragments/bodyHeader :: bodyHeader}"></div>
<div th:replace="~{mobile/fragments/bodyHeader :: side-bar}"></div>
<div class="container view">
    <div class="content-header">
        <h3> 문의하기 </h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" action="/sendQnA?type=mobile" th:object="${qnAForm}" method="post">
                <table class="table table-hover">
                    <tr scope="row">
                        <td>카테고리</td>
                        <td><select class="select form-control" th:field="*{category}">
                            <option value="캠핑장 문의">캠핑장 문의</option>
                            <option value="기술 문의">기술 문의</option>
                            <option value="예약 문의">예약 문의</option>
                            <option value="결제 문의">결제 문의</option>
                            <option value="정보 수정 요청">정보 수정 요청</option>
                            <option value="기타 문의">기타 문의</option>
                        </select></td>

                    </tr>
                    <tr scope="row">
                        <td>내용</td>
                        <td><textarea style="width:100%; height: 300px;" th:field="*{context}"></textarea></td>
                    </tr>
                    <tr align="center">
                        <td colspan="2"><input type="submit" style="margin: 10px" class="btn btn-info" value="문의하기"/>
                            <input type="button" style="margin: 10px" class="btn btn-info" value="취소" onclick="location.href='/mobile/main'"/>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{mobile/fragments/footer :: footer}"/>
</body>
</html>