<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head th:replace="~{pc/fragments/header :: header}"/>
<script th:src="@{/js/categorySearch.js}"></script>
<link href="/css/categorySearch.css" rel="stylesheet" type="text/css">

<body>
<div th:replace="~{pc/fragments/bodyHeader :: bodyHeader}"/>
<div th:replace="~{pc/fragments/bodyHeader :: side-bar}"/>
<div class="mainBox">
    <div class="categoryCheckBox">
        <div class="categoryCheck categoryCheck01">
            <div class="title">주요시설</div>
            <div class="check">
                <span class="item"><input type="checkbox" id="carav"><label for="carav">카라반</label></span>
                <span class="item"><input type="checkbox" id="glamp"><label for="glamp">글램핑</label></span>
                <span class="item"><input type="checkbox" id="car"><label for="car">자동차야영</label></span>
            </div>
        </div>
        <div class="categoryCheck categoryCheck02">
            <div class="title">테마</div>
            <div class="check">
                <span class="item"><input type="checkbox" id="thema01"><label for="thema01">일출명소</label></span>
                <span class="item"><input type="checkbox" id="thema02"><label for="thema02">일몰명소</label></span>
                <span class="item"><input type="checkbox" id="thema03"><label for="thema03">걷기길</label></span>
                <span class="item"><input type="checkbox" id="thema04"><label for="thema04">봄꽃여행</label></span>
                <span class="item"><input type="checkbox" id="thema05"><label for="thema05">여름물놀이</label></span>
                <span class="item"><input type="checkbox" id="thema06"><label for="thema06">가을단풍명소</label></span>
                <span class="item"><input type="checkbox" id="thema07"><label for="thema07">겨울눈꽃명소</label></span>
                <span class="item"><input type="checkbox" id="thema08"><label for="thema08">수상레저</label></span>
                <span class="item"><input type="checkbox" id="thema09"><label for="thema09">항공레저</label></span>
                <span class="item"><input type="checkbox" id="thema10"><label for="thema10">스키</label></span>
                <span class="item"><input type="checkbox" id="thema11"><label for="thema11">낚시</label></span>
                <span class="item"><input type="checkbox" id="thema12"><label for="thema12">액티비티</label></span></div>
        </div>
        <div class="categoryCheck categoryCheck03">
            <div class="title">기타</div>
            <div class="check">
                <span class="item"><input type="checkbox" id="anmal"><label for="anmal">반려동물</label></span>
                <span class="item"><input type="checkbox" id="trlerAcmpnyAt"><label for="anmal">개인트레일러</label></span>
                <span class="item"><input type="checkbox" id="caravAcmpnyAt"><label for="anmal">개인카라반</label></span>
                <span class="item"> <input type="checkbox" id="exprnProgrmAt"><label
                        for="exprnProgrmAt">체험활동</label></span>
                <span class="item"><input type="checkbox" id="clturEventAt"><label
                        for="clturEventAt">문화행사</label></span>
            </div>
        </div>
        <div>
        <button class="selectBtn" type="button" id="selectBtn" onclick="select()">선택확인</button>
        </div>
    </div>
    <div class="campListBox">

    </div>

</div>


<div th:replace="~{pc/fragments/footer :: footer}"/>
</body>
</html>