<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{pc/fragments/header :: header}"/>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


<body>
<div th:replace="~{pc/fragments/bodyHeader :: bodyHeader}"/>
<div th:replace="~{pc/fragments/bodyHeader :: side-bar}"/>

<div class="view">
  <h1>지역별검색</h1>
  <!-- 브이월드 행정구역도를 이용한 셀렉트 박스 구현... 공간정보를 기반으로 하고 있어서 국가공간정보포털보다 느림 -->
  <select id="sido_code">
    <option>전체</option>
  </select>
  <select id="sigoon_code">
    <option>전체</option>
  </select>
  <button class="btn btn-outline-success" type="button" id="search-icon" onclick="search()">검색</button>
  <script>
    let 현재페이지;
    let 총리스트의길이;
    let 한페이지에보여줄게시글수=10;
    let 한번에보여줄페이지단위=10;
    let 총페이지수;
    let 현재페이지인덱스;
    let 마지막페이지인덱스;
    if(총페이지수%10==0){
      마지막페이지인덱스=총페이지수/10;
    }
    else{
      마지막페이지인덱스=총페이지수/10+1;
    }
    let sido;
    let sigoon;
    const replaceList = [

      ["서울특별시", "서울시"],
      ["부산광역시", "부산시"],
      ["대구광역시", "대구시"],
      ["인천광역시", "인천시"],
      ["광주광역시", "광주시"],
      ["대전광역시", "대전시"],
      ["울산광역시", "울산시"],
      ["세종특별자치시", "세종시"],
      ["제주특별자치도", "제주도"]



      // ... 추가 조건
    ];
    let key='F3DA23BB-17C0-3F0B-87F2-FEC846489FDC';
    $.support.cors = true;

    $(function(){
      $.ajax({
        type: "get",
        url: "https://api.vworld.kr/req/data?key=F3DA23BB-17C0-3F0B-87F2-FEC846489FDC&domain=http://localhost:8080&service=data&version=2.0&request=getfeature&format=json&size=1000&page=1&geometry=false&attribute=true&crs=EPSG:3857&geomfilter=BOX(13663271.680031825,3894007.9689600193,14817776.555251127,4688953.0631258525)&data=LT_C_ADSIDO_INFO",
        async: false,
        dataType: 'jsonp',
        success: function(data) {
          let html = "<option>전체</option>";

          data.response.result.featureCollection.features.forEach(function(f){
            console.log(f.properties)
            let locationCd = f.properties.ctprvn_cd;
            let locationNm = f.properties.ctp_kor_nm;
            for(let i=0;i<replaceList.length;i++){
              if(locationNm==replaceList[i][0]){
                locationNm=replaceList[i][1];
              }
            }

            html +=`<option value="${locationCd}">${locationNm}</option>`

          })

          $('#sido_code').html(html);

        },
        error: function(xhr, stat, err) {}
      });


      $(document).on("change","#sido_code",function(){
        let thisVal = $(this).val();

        $.ajax({
          type: "get",
          url: "https://api.vworld.kr/req/data?key=F3DA23BB-17C0-3F0B-87F2-FEC846489FDC&domain=http://localhost:8080&service=data&version=2.0&request=getfeature&format=json&size=1000&page=1&geometry=false&attribute=true&crs=EPSG:3857&geomfilter=BOX(13663271.680031825,3894007.9689600193,14817776.555251127,4688953.0631258525)&data=LT_C_ADSIGG_INFO",
          data : {attrfilter : 'sig_cd:like:'+thisVal},
          async: false,
          dataType: 'jsonp',
          success: function(data) {
            let html = "<option>전체</option>";
            let addedValues = {}; // 중복 검사를 위한 객체

            data.response.result.featureCollection.features.forEach(function(f){
              console.log(f.properties)
              let locationCd = f.properties.sig_cd;
              let locationNm = f.properties.sig_kor_nm;
              locationNm = locationNm.replace(/\s+.*/, '');

              // 중복 검사 수행
              if (!addedValues[locationNm]) {
                html +=`<option value="${locationCd}">${locationNm}</option>`
                addedValues[locationNm] = true; // 중복 검사를 위한 객체에 값 추가
              }





            })
            $('#sigoon_code').html(html);
            $('#dong_code').html(html);


          },
          error: function(xhr, stat, err) {}
        });
      });

    })
    function search() {
       sido = $('#sido_code option:selected').text();
       sigoon = $('#sigoon_code option:selected').text();

      $.ajax({

        url: '/search/addressSearchTest',
        type: 'GET',
        data: {
          sido: sido, sigoon: sigoon, pageNum: 1

        },

        success: function(result) {

          try {
            var response = $.parseJSON(result);
            var campList = response.campList;
            총리스트의길이 = response.length;

            if(campList == null || campList.length == 0) {
              alert("검색결과가 존재하지 않습니다.");
              총리스트의길이=0;
              return;
            }
            $('#sample').html('');
            현재페이지=1;
            현재페이지인덱스=1;

            if(총리스트의길이%10==0){
              총페이지수=총리스트의길이/한페이지에보여줄게시글수;
            }
            else{
              총페이지수=총리스트의길이/한페이지에보여줄게시글수 + 1;
            }
            areaArr = new Array();

            for(let i = 0; i < campList.length; i++) {
              areaArr.push({
                name: campList[i].facltNm,
                sido: campList[i].doNm,
                sigoon: campList[i].sigunguNm,
                address: campList[i].addr1,
                img: campList[i].firstImageUrl,
                theme: campList[i].themaEnvrnCl,
                lineInt: campList[i].lineIntro,
                int: campList[i].intro,
                phone: campList[i].tel,
                facil: campList[i].sbrsCl,
                id: campList[i].contentId

              });
            }

            let campListHtml = '<div class="row">';
            for(let i = 0; i < areaArr.length; i++) {
              campListHtml += '<div class="col-md-6 col-lg-4">';
              campListHtml += '<div class="card">';
              campListHtml += '<img src="' + areaArr[i].img + '" class="card-img-top" alt="">';
              campListHtml += '<div class="card-body">';
              campListHtml += '<h5 class="card-title"><a href="../detailCamp?contentId='+areaArr[i].id +'">'+areaArr[i].name + '</a> </h5>';
              campListHtml += '<p class="card-text">' + areaArr[i].sido+ '&nbsp;&nbsp;&nbsp;'+areaArr[i].sigoon+ '</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].address + '</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].lineInt+'</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].int+'</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].phone+'</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].facil+'</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].theme + '</p>';
              campListHtml += '</div></div></div>';
            }
            campListHtml += '</div>';
            $('#campList').html(campListHtml);
            let pageBtn='';
            for(let i=1;i<=한번에보여줄페이지단위;i++){
              pageBtn +='<a href="#" onclick="paging('+(한번에보여줄페이지단위*(현재페이지인덱스-1)+i)+')">['+(한번에보여줄페이지단위*(현재페이지인덱스-1)+i)+']</a>'
              if(i==한번에보여줄페이지단위&&(한번에보여줄페이지단위*(현재페이지인덱스-1)+i)<총페이지수){
                pageBtn+='<button>다음</button>'
              }


            }
            $('#paging').html(pageBtn);

          } catch (e) {
            console.log(e);
          }
        },

      });

    }
    function paging(i){
      현재페이지=i;
      $.ajax({

        url: '/search/addressSearchTestTest',
        type: 'GET',
        data: {
          sido: sido, sigoon: sigoon, pageNum: i

        },

        success: function(result) {

          try {
            var response = $.parseJSON(result);
            var campList = response.campList;


            if(campList == null || campList.length == 0) {
              alert("검색결과가 존재하지 않습니다.");
              총리스트의길이=0;
              return;
            }




            areaArr = new Array();

            for(let i = 0; i < campList.length; i++) {
              areaArr.push({
                name: campList[i].facltNm,
                sido: campList[i].doNm,
                sigoon: campList[i].sigunguNm,
                address: campList[i].addr1,
                img: campList[i].firstImageUrl,
                theme: campList[i].themaEnvrnCl,
                lineInt: campList[i].lineIntro,
                int: campList[i].intro,
                phone: campList[i].tel,
                facil: campList[i].sbrsCl,
                id: campList[i].contentId

              });
            }

            let campListHtml = '<div class="row">';
            for(let i = 0; i < areaArr.length; i++) {
              campListHtml += '<div class="col-md-6 col-lg-4">';
              campListHtml += '<div class="card">';
              campListHtml += '<img src="' + areaArr[i].img + '" class="card-img-top" alt="">';
              campListHtml += '<div class="card-body">';
              campListHtml += '<h5 class="card-title"><a href="../detailCamp?contentId='+areaArr[i].id +'">'+areaArr[i].name + '</a> </h5>';
              campListHtml += '<p class="card-text">' + areaArr[i].sido+ '&nbsp;&nbsp;&nbsp;'+areaArr[i].sigoon+ '</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].address + '</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].lineInt+'</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].int+'</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].phone+'</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].facil+'</p>';
              campListHtml += '<p class="card-text">' + areaArr[i].theme + '</p>';
              campListHtml += '</div></div></div>';
            }
            campListHtml += '</div>';
            $('#campList').html('');
            $('#campList').html(campListHtml);




          } catch (e) {
            console.log(e);
          }
        },

      });
    }


  </script>
  <div id="sample">
  <div  th:each="camp, idx : ${campList}">
    <div class="tempCampBox" th:onclick="|details(${camp.contentId})|">
      <div class="campBoxTop">
        <div class="campBoxLeft">
          <img style="height: 98%" th:src="${camp.firstImageUrl}"/>
        </div>
        <div class="campBoxRight">
          <div class="campText">
            [ <span th:text="${camp.doNm}"></span>
            <span th:text="${camp.sigunguNm}"></span> ]
          </div>
          <div class="campText" th:text="${camp.facltNm}"></div>
          <div class="campText" th:text="${camp.lineIntro}"></div>
          <div class="campSbrsClBox">
            <div class="campSbrsCl" th:each="sbrsCl : ${sbrsClList[__${idx.index}__]}">
              <div class="campSbrsClItem" th:each="C : ${sbrsCl}">
                <i th:if="${C == '전기'}" class="fa-solid fa-bolt"></i>
                <i th:if="${C == '무선인터넷'}" class="fa-solid fa-wifi"></i>
                <i th:if="${C == '장작판매'}" class="fa-sharp fa-solid fa-fire"></i>
                <i th:if="${C == '온수'}" class="fa-solid fa-thermometer-full"></i>
                <i th:if="${C == '트렘폴린'}" class="fa-solid fa-person-arrow-up-from-line"></i>
                <i th:if="${C == '물놀이장'}" class="fa-solid fa-swimmer"></i>
                <i th:if="${C == '놀이터'}" class="fa-solid fa-rocket"></i>
                <i th:if="${C == '산책로'}" class="fa-solid fa-hiking"></i>
                <i th:if="${C == '운동시설'}" class="fa-solid fa-dumbbell"></i>
                <i th:if="${C == '마트.편의점'}" class="fa-solid fa-shopping-cart"></i>
                <i th:if="${C == '운동장'}" class="fa-solid fa-baseball-ball"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="campBoxBottom">
        <!--                <div class="campThema" th:each="thema : ${themaList[__${idx.index}__]}">-->
        <!--                    <div class="campThemaList" th:each="T : ${thema}">-->
        <!--                        <span th:text="${T}"></span>-->
        <!--                    </div>-->
        <!--                </div>-->
      </div>
    </div>
    <hr>
  </div>
  <div id="campList"></div>
  <div id="paging"></div>
  <div th:replace="~{pc/fragments/footer :: footer}" />
</div>

</body>
</html>