<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{pc/fragments/header :: header}"/>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script th:src="@{/js/addBoard.js}"></script>
<script th:src="@{/js/checkBoard.js}"></script>

<body>
<div th:replace="~{pc/fragments/bodyHeader :: bodyHeader}"/>
<div th:replace="~{pc/fragments/bodyHeader :: side-bar}"/>

<div class="view">

    <input type="hidden" id="logValue" th:value="${session.log}" />

    <form th:action="@{/pc/board/addBoardPro}" method="post" enctype="multipart/form-data" onsubmit="return validateFormBoard()">
        <input type="hidden" name="img" value=null>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>제목</td>
                <td><input type="text" name="title" id="title"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea name="content" id="content" style="resize: none; width: 100%; min-height: 400px;"></textarea></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="작성하기" class="btn btn-primary">
        <input type="hidden" name="id" th:value="${session.log}" >
        <input type="hidden" name="no" th:value="${no}">
    </form>





    <div th:replace="~{pc/fragments/footer :: footer}" />
</div>



</body>
</html>