#sidebar {
    width: 250px;
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    left: -250px;
    background-color: #1c1c1c;
    color: #ffffff;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
}

#sidebar.active {
    left: 0;
}
li {
    list-style-type: none;
}

#sidebar ul li a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: #ffffff; /* 흰색 글씨 */
}

#sidebar ul li a:hover {
    background-color: #ffffff; /* 마우스 올리면 흰색 바탕 */
    color: #1c1c1c; /* 마우스 올리면 검정색 글씨 */
}

#header {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* 사이드바보다 높은 우선순위를 가지도록 설정 */
    display: flex;
    align-items: center;
}
#menuBtn{
    background-color: #1c1c1c;
    color: #ffffff;
    border: 1px solid white;
    margin: 15px;
    border-radius: 5px;
}
#header h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
    #sidebar {
        left: -250px; /* 모바일 화면에서는 사이드바 숨기기 */
    }

    #sidebar.active {
        left: 0; /* 모바일에서는 버튼을 누르면 사이드바 보이도록 */
    }
}
.container{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    width: 80%;
}
.col-md-12{
    width: 100%;
}
.table{
    width: 100%;
}
.table td, .table th {
    text-align: center;
}

.btn {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-info {
    color: #ffffff;
    background-color: #1c1c1c;
    border-color: #1c1c1c;
}

.btn-info:hover {
    color: #1c1c1c;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.logout-link {
    color: #fff;
    text-decoration: none;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 6px 12px;
    border-radius: 3px;
    margin-left: auto;
}
