<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div id="header" th:fragment="bodyHeader">
    <button type="button" id="menuBtn" >
      <i class="fa fa-bars"></i>
    </button>
    <h3><a>ADMIN</a></h3>
</header>
  <nav id="sidebar">
    <ul>
      <li><a href="#" id="notice">공지사항</a></li>
      <li><a href="/admin/memberList" id="member">회원관리</a></li>
      <li><a href="#" id="review">리뷰관리</a></li>
        <li><a href="#" id="board">게시판관리</a></li>
        <li><a href="#" id="customer">마음의소리</a></li>
      <li><a href="#" id="others">기타</a></li>
    </ul>
  </nav>
</div>