<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div id="header" th:fragment="bodyHeader" style="display: flex;">
    <button type="button" id="menuBtn" >
        <i class="fa fa-bars"></i>
    </button>
    <h3><a>ADMIN</a></h3>
    <a href="/pc/member/logout" class="logout-link">logout</a>
    </header>

  <nav id="sidebar">
    <ul>
      <li><a href="/noticeList?type=admin" id="notice">공지 사항</a></li>
      <li><a href="/admin/memberList" id="member">회원 관리</a></li>
        <li><a href="#" id="board">게시판 관리</a></li>
        <li><a href="/sendQnAList?type=admin" id="customer">고객 문의</a></li>
      <li><a href="#" id="review">데이터베이스 관리</a></li>
    </ul>
  </nav>
</div>