<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">html lang="en">
<head th:fragment="header">
    <meta charset="UTF-8">
  <link href="/admin/css/bootstrap.css" rel="stylesheet">
  <link href="/admin/css/bootstrap-reboot.css" rel="stylesheet">
  <link href="/admin/css/bootstrap-grid.css" rel="stylesheet">
  <link href="/admin/css/headerStyle.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <script src="/admin/js/sidebar.js"></script>
  <title>AdminPage</title>
</head>